body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

footer {
  font-size: 80%;
  border: #333 solid;
}

section {
  margin-bottom: 30px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
ul{
    list-style-type: none;/*elimina viñetas*/
    padding: 0;/*elimina relleno*/
}
li{
    margin-bottom: 5px;
}
form{
display: flex;/*arregla elementos*/
flex-direction: column;
max-width: 300px;
margin-top: 10px;
}

label{
    margin-bottom: 5px;
}

input[type="text" i] , input[type="email"], input[type="submit"]{
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
select{
    padding: 5px;
    margin-bottom: 10px;
    }
select{
        color: blue;
    }